# Predicting if online learners will get the question right

In [1]:
import pandas as pd 
test_set = pd.read_csv(r"C:\Users\Admin\OneDrive\Documents\test (1).csv")

In [5]:
test_set.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,...,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group,session_level
0,20090109393214576,0,0,cutscene_click,basic,0,NaN,-413.991405,75.685314,380.0,...,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4,0
1,20090109393214576,1,1965,person_click,basic,0,NaN,-105.991405,-63.314686,688.0,...,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4,0
2,20090109393214576,2,3614,person_click,basic,0,NaN,-418.991405,47.685314,375.0,...,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4,0
3,20090109393214576,3,5330,person_click,basic,0,NaN,-110.991405,-57.314686,683.0,...,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4,0
4,20090109393214576,4,6397,person_click,basic,0,NaN,-110.991405,-57.314686,683.0,...,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4,0

In [6]:
test_set['event_name'].value_counts()

event_name
navigate_click        1519
person_click           736
object_click           471
cutscene_click         316
object_hover           204
notebook_click         153
map_hover              149
notification_click      76
map_click               61
observation_click       34
checkpoint               9
Name: count, dtype: int64

In [2]:
train_set = pd.read_csv(r"C:\Users\Admin\Final-Project\train.csv")

In [ ]:
train_set.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

In [3]:
train_labels = pd.read_csv(r"C:\Users\Admin\OneDrive\Documents\train_labels.csv.zip")

In [ ]:
train_set

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26296941,22100221145014656,1600,5483231,navigate_click,undefined,22,NaN,343.887291,36.701026,483.0,273.0,NaN,NaN,NaN,tunic.capitol_2.hall,NaN,0,0,1,13-22
26296942,22100221145014656,1601,5485166,navigate_click,undefined,22,NaN,332.696070,141.493178,545.0,221.0,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,0,0,1,13-22
26296943,22100221145014656,1602,5485917,navigate_click,undefined,22,NaN,369.912859,140.569205,611.0,217.0,NaN,NaN,NaN,tunic.capitol_2.hall,NaN,0,0,1,13-22
26296944,22100221145014656,1603,5486753,navigate_click,undefined,22,NaN,252.299653,123.805889,526.0,232.0,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,0,0,1,13-22
26296945,22100221145014656,1604,5487952,checkpoint,basic,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,0,0,1,13-22

In [22]:
train_set['hover_duration'].isna().sum()

24294702

In [23]:
train_set['hover_duration'].nunique()

24101

In [ ]:
train_set['session_id'].nunique()

23562

In [ ]:
train_labels['session_id'].nunique()

424116

In [ ]:
train_labels

                   session_id  correct
0        20090312431273200_q1        1
1        20090312433251036_q1        0
2        20090312455206810_q1        1
3        20090313091715820_q1        0
4        20090313571836404_q1        1
...                       ...      ...
424111  22100215342220508_q18        1
424112  22100215460321130_q18        1
424113  22100217104993650_q18        1
424114  22100219442786200_q18        1
424115  22100221145014656_q18        1

[424116 rows x 2 columns]

In [4]:
# q is the question number which train_set x have
train_labels['session'] = train_labels.session_id.apply(lambda x: int(x.split('_')[0]) )
train_labels['q'] = train_labels.session_id.apply(lambda x: int(x.split('_')[-1][1:]) )

In [ ]:
train_labels

                   session_id  correct            session   q
0        20090312431273200_q1        1  20090312431273200   1
1        20090312433251036_q1        0  20090312433251036   1
2        20090312455206810_q1        1  20090312455206810   1
3        20090313091715820_q1        0  20090313091715820   1
4        20090313571836404_q1        1  20090313571836404   1
...                       ...      ...                ...  ..
424111  22100215342220508_q18        1  22100215342220508  18
424112  22100215460321130_q18        1  22100215460321130  18
424113  22100217104993650_q18        1  22100217104993650  18
424114  22100219442786200_q18        1  22100219442786200  18
424115  22100221145014656_q18        1  22100221145014656  18

[424116 rows x 4 columns]

In [ ]:
# make session the index in train_labels bec join alwasy uses the index of second mentioned df , and on = is column name of first mentioned (left) df
train_labels = train_labels.set_index('session')

In [5]:
train_labels

                   session_id  correct            session   q
0        20090312431273200_q1        1  20090312431273200   1
1        20090312433251036_q1        0  20090312433251036   1
2        20090312455206810_q1        1  20090312455206810   1
3        20090313091715820_q1        0  20090313091715820   1
4        20090313571836404_q1        1  20090313571836404   1
...                       ...      ...                ...  ..
424111  22100215342220508_q18        1  22100215342220508  18
424112  22100215460321130_q18        1  22100215460321130  18
424113  22100217104993650_q18        1  22100217104993650  18
424114  22100219442786200_q18        1  22100219442786200  18
424115  22100221145014656_q18        1  22100221145014656  18

[424116 rows x 4 columns]

In [6]:
train_labels.to_csv('train_labels2.csv')

In [9]:
merged_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 424116 entries, nan to nan
Data columns (total 25 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   session_id      424116 non-null  int64
 1   session_id_x    424116 non-null  object
 2   correct         424116 non-null  int64
 3   session         424116 non-null  int64
 4   q               424116 non-null  int64
 5   session_id_y    0 non-null       float64
 6   index           0 non-null       float64
 7   elapsed_time    0 non-null       float64
 8   event_name      0 non-null       object
 9   name            0 non-null       object
 10  level           0 non-null       float64
 11  page            0 non-null       float64
 12  room_coor_x     0 non-null       float64
 13  room_coor_y     0 non-null       float64
 14  screen_coor_x   0 non-null       float64
 15  screen_coor_y   0 non-null       float64
 16  hover_duration  0 non-null       float64
 17  text            0 non-null       object
 18  fqid            0 non-null       object
 19  room_fqid       0 non-null       object
 20  text_fqid       0 non-null       object
 21  fullscreen      0 non-null       float64
 22  hq              0 non-null       float64
 23  music           0 non-null       float64
 24  level_group     0 non-null       object
dtypes: float64(13), int64(4), object(8)
memory usage: 84.1+ MB

In [12]:
# remove duplicate session ids from train_set to imporve memory efficiency
# Remove duplicate session IDs from train_set
no_dupes = train_set.drop_duplicates(subset='session_id')

In [13]:
len(no_dupes)

23562

In [14]:
merged_train2 = train_labels.merge(no_dupes, left_on='session', right_on = 'session_id', how='left')

In [15]:
merged_train2

,session_id_x,correct,session,q,session_id_y,index,elapsed_time,event_name,name,level,...,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200_q1,1,20090312431273200,1,20090312431273200,0,0,cutscene_click,basic,0,...,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312433251036_q1,0,20090312433251036,1,20090312433251036,0,0,cutscene_click,basic,0,...,250.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,0,0-4
2,20090312455206810_q1,1,20090312455206810,1,20090312455206810,0,0,cutscene_click,basic,0,...,706.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,1,1,1,0-4
3,20090313091715820_q1,0,20090313091715820,1,20090313091715820,0,0,cutscene_click,basic,0,...,634.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,1,1,1,0-4
4,20090313571836404_q1,1,20090313571836404,1,20090313571836404,0,0,cutscene_click,basic,0,...,339.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424111,22100215342220508_q18,1,22100215342220508,18,22100215342220508,0,0,cutscene_click,basic,0,...,573.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,1,0,1,0-4
424112,22100215460321130_q18,1,22100215460321130,18,22100215460321130,0,0,cutscene_click,basic,0,...,243.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
424113,22100217104993650_q18,1,22100217104993650,18,22100217104993650,0,0,cutscene_click,basic,0,...,291.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
424114,22100219442786200_q18,1,22100219442786200,18,22100219442786200,0,0,cutscene_click,basic,0,...,517.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
424115,22100221145014656_q18,1,22100221145014656,18,22100221145014656,0,0,cutscene_click,basic,0,...,292.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4

In [41]:
merged_train2['name'].value_counts()

name
basic        423954
undefined       162
Name: count, dtype: int64

In [35]:
merged_train2['level'].value_counts()

level
0    424116
Name: count, dtype: int64

In [33]:
merged_train2['level_group'].value_counts()

level_group
0-4    424116
Name: count, dtype: int64

In [34]:
merged_train2['fqid'].value_counts()

fqid
intro        423954
doorblock        18
Name: count, dtype: int64

In [32]:
merged_train2['text'].value_counts()

text
undefined    423954
Name: count, dtype: int64

In [37]:
merged_train2['room_coor_y'].value_counts()

room_coor_y
-35.314686     1836
-29.314686     1728
-34.314686     1674
-37.314686     1674
-39.314686     1638
               ...
-228.087650      18
-219.611561      18
-101.017811      18
-71.398020       18
-106.518187      18
Name: count, Length: 2379, dtype: int64

In [24]:
no_dupes['hover_duration'].nunique()

0

In [17]:
merged_train2['hover_duration'].nunique()

0

In [29]:
merged_train2.columns

Index(['session_id_x', 'correct', 'session', 'q', 'session_id_y', 'index',
       'elapsed_time', 'event_name', 'name', 'level', 'page', 'room_coor_x',
       'room_coor_y', 'screen_coor_x', 'screen_coor_y', 'hover_duration',
       'text', 'fqid', 'room_fqid', 'text_fqid', 'fullscreen', 'hq', 'music',
       'level_group'],
      dtype='object')

In [61]:
# set X and y
select = [ 'elapsed_time',	'event_name',	 'room_coor_x',
       'room_coor_y', 'screen_coor_x', 'screen_coor_y' ,'fqid','fullscreen',	'hq',	'music']
X = merged_train2[select]
y = merged_train2['correct']

In [54]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424116 entries, 0 to 424115
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   q              424116 non-null  int64
 1   elapsed_time   424116 non-null  int64
 2   event_name     424116 non-null  object
 3   room_coor_x    424116 non-null  float64
 4   room_coor_y    424116 non-null  float64
 5   screen_coor_x  424116 non-null  float64
 6   screen_coor_y  424116 non-null  float64
 7   fqid           423972 non-null  object
 8   fullscreen     424116 non-null  int64
 9   hq             424116 non-null  int64
 10  music          424116 non-null  int64
dtypes: float64(4), int64(5), object(2)
memory usage: 35.6+ MB

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=.2, random_state=2 )

In [64]:
# create preprocessing pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
numericals = [ 'elapsed_time', 'room_coor_x','room_coor_y', 'screen_coor_x', 'screen_coor_y' ]

num_change = ColumnTransformer(transformers=[('Scale', StandardScaler(), numericals)])

pipe = Pipeline(steps=[('col_change', num_change),
        ('clf', RandomForestClassifier())])

pipe.fit(X_train, y_train)

Pipeline(steps=[('col_change',
                 ColumnTransformer(transformers=[('Scale', StandardScaler(),
                                                  ['elapsed_time',
                                                   'room_coor_x', 'room_coor_y',
                                                   'screen_coor_x',
                                                   'screen_coor_y'])])),
                ('clf', RandomForestClassifier())])

In [57]:
from sklearn.metrics import accuracy_score
y_pred_val = pipe.predict(X_val)
accuracy = accuracy_score(y_val,y_pred_val)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.69

In [59]:
test_set

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,...,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group,session_level
0,20090109393214576,0,0,cutscene_click,basic,0,NaN,-413.991405,75.685314,380.0,...,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4,0
1,20090109393214576,1,1965,person_click,basic,0,NaN,-105.991405,-63.314686,688.0,...,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4,0
2,20090109393214576,2,3614,person_click,basic,0,NaN,-418.991405,47.685314,375.0,...,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4,0
3,20090109393214576,3,5330,person_click,basic,0,NaN,-110.991405,-57.314686,683.0,...,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4,0
4,20090109393214576,4,6397,person_click,basic,0,NaN,-110.991405,-57.314686,683.0,...,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,20090312331414616,1001,1581679,map_hover,basic,22,NaN,NaN,NaN,NaN,...,484.0,NaN,tunic.wildlife,tunic.historicalsociety.entry,NaN,0,0,1,13-22,8
3724,20090312331414616,1002,1583044,map_hover,basic,22,NaN,NaN,NaN,NaN,...,783.0,NaN,tunic.capitol_2,tunic.historicalsociety.entry,NaN,0,0,1,13-22,8
3725,20090312331414616,1003,1583410,map_click,undefined,22,NaN,483.726363,-3.880047,456.0,...,NaN,NaN,tunic.capitol_2,tunic.historicalsociety.entry,NaN,0,0,1,13-22,8
3726,20090312331414616,1004,1585841,navigate_click,undefined,22,NaN,192.372139,38.216178,383.0,...,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,0,0,1,13-22,8
3727,20090312331414616,1005,1587810,checkpoint,basic,22,NaN,NaN,NaN,NaN,...,NaN,NaN,chap4_finale_c,tunic.capitol_2.hall,NaN,0,0,1,13-22,8

In [66]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3728 entries, 0 to 3727
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   elapsed_time   3728 non-null   int64
 1   event_name     3728 non-null   object
 2   room_coor_x    3366 non-null   float64
 3   room_coor_y    3366 non-null   float64
 4   screen_coor_x  3366 non-null   float64
 5   screen_coor_y  3366 non-null   float64
 6   fqid           2505 non-null   object
 7   fullscreen     3728 non-null   int64
 8   hq             3728 non-null   int64
 9   music          3728 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 291.4+ KB

In [70]:

X_test_clean = X_test[X_test.notna().all(axis=1)]

In [71]:
X_test_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2143 entries, 0 to 3726
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   elapsed_time   2143 non-null   int64
 1   event_name     2143 non-null   object
 2   room_coor_x    2143 non-null   float64
 3   room_coor_y    2143 non-null   float64
 4   screen_coor_x  2143 non-null   float64
 5   screen_coor_y  2143 non-null   float64
 6   fqid           2143 non-null   object
 7   fullscreen     2143 non-null   int64
 8   hq             2143 non-null   int64
 9   music          2143 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 184.2+ KB

In [72]:
X_test = test_set[select]
y_pred_test = pipe.predict(X_test_clean)